.gallery, .album
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
}

.galleryitem, .albumitem
{
	text-align: center;
	width: 160px;
	min-height: 120px;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	padding: 5px;
}

.pictureitem
{
	display: flex;
	flex-direction: column;
}
